.form {
  background: #fff;
  // display: flex;
}

.formModule {
  @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
  padding: 0% 1.5rem 0%;

  .question {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.1rem;
    line-height: 24px;
    color: #888888;
    &.black {
      font-weight: 600;
      color: #000000;
    }
    &.hint {
      margin-top: 0%;
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #888888;
    }
  }

  .radio {
    input:checked ~ .box {
      background: #000000;
    }
    label {
      padding: 1rem 0;
      margin: 0;
      display: flex;
      flex-direction: row;
    }
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1rem;
    color: #000000;

    &:hover {
      opacity: 0.7;
    }

    input {
      visibility: hidden;
      width: 0;
      height: 0;
    }

    .box {
      margin: 0 1rem 0 0;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: #888888;
    }
  }
}

.dropdownContainer {
  background: white;
}

.suggestionItem {
  background: yellow;
}
.activeSuggestionItem {
  background: green;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  .button {
    width: 90%;
    height: 3rem;
  }
}
.labelsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin: 1rem;
  .roomLabel {
    margin: 0.3rem 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    background-color: #000000;
    border-radius: 16px;
    height: 3rem;
    width: min-content;
    .paragraph {
      font-family: "Red Hat Display", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      max-height: 19px;
      letter-spacing: 0.1rem;
      color: #ffffff;
      max-lines: 1;
      white-space: nowrap;
    }
    .icon {
      margin-left: 1rem;
    }
  }
}
